/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

  :root {
    --clr-primary: hsl(195, 99%, 48%);
    --clr-primary-light: hsl(195, 99%, 58%);
    --clr-primary-dark: hsl(195, 99%, 42%);
    --clr-secondary: hsl(83, 58%, 48%);
    --clr-secondary-light: hsl(83, 58%, 55%);
    --clr-secondary-dark: hsl(84, 70%, 40%);
    --clr-yellow: hsl(42, 98%, 48%);
    --font-primary: 'Lato', 'ui-sans-serif', 'sans-serif', 'system-ui';
  }

  body {
    @apply bg-gray-100 text-gray-500 font-my-primary overflow-x-hidden;
    -webkit-tap-highlight-color: transparent;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-700;
  }

  .btn-regular {
    @apply inline-block cursor-pointer text-center uppercase py-2 px-4 font-bold text-xs leading-none text-white bg-my-secondary duration-300 hover:bg-my-secondary-dark;
  }

  .btn-topbar {
    @apply inline-block cursor-pointer text-center uppercase py-2 px-4 md:px-4 font-bold text-xs leading-none tracking-wide text-white bg-transparent duration-300 hover:bg-my-yellow border-l border-r border-opacity-50;
  }
 
  .logo {
    @apply inline-block w-40 md:w-44;
  }

  .mobile-menu-toggler {
    @apply lg:hidden inline-block cursor-pointer h-full w-14 md:w-16 shadow bg-my-secondary duration-300 hover:bg-my-secondary-dark text-white absolute top-0 right-0 z-20;
  }

  .main-menu-wrapper {
    @apply bg-gray-800 lg:bg-transparent text-white lg:text-gray-500 shadow-my-x lg:shadow-none px-4 py-8 lg:p-0 h-screen lg:h-auto w-60 lg:w-auto fixed lg:static top-0 left-0 z-40 lg:z-30 transform lg:transform-none duration-300 -translate-x-full;
  }

  .main-menu {
    @apply space-y-4 lg:space-y-0 lg:space-x-12 lg:flex items-center justify-end;
  }

  .nav-link {
    @apply inline-block uppercase font-bold lg:text-my-sm tracking-wider duration-150 transform hover:translate-x-4 lg:hover:translate-x-0 lg:hover:text-my-primary;
  }

  input[readonly] {
    @apply opacity-60 focus:outline-none;
  }
  
}
